/* html {
    font-family:'Museo Sans Cyrl', sans-serif; 
}
header {
    position: relative;
    height: 0px;
    
}
nav {
    width: 100%;
    background-color: black;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 600px;
    margin: 0;
}
.menu_link {
    color: white;
    font-size: 20px;
    font-weight: 500;
} */